* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


body
.Dine-home {
  background-image: url(./assets/images/homepage/hero-bg-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}


 .tablet img , .desktop img {
  max-width: 100%;
  width: 50%;
}

.mobile img {
  width: 75%;
  box-shadow: -5px 44px 57px -26px rgba(0,0,0,0.47);
}

.mobile {
  display: block;
}

.tablet, .desktop {
  display: none
}


.line-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  color: #B54949;
}

.line {
  margin-left: 1.2em;
  width: 55px;
  height: 1px;
  background-color: #B54949;
}



@media (min-width: 600px)  {
  
body
.Dine-home {
  background-image: url(./assets/images/homepage/hero-bg-tablet@2x.jpg);
  height: 984px;
  width: 100%;
 
}

.tablet {
  display: block;
}

.mobile {
  display: none;
}


}


@media (min-width: 1200px)  {
  
  body
  .Dine-home {
    background-image: url(./assets/images/homepage/hero-bg-desktop@2x.jpg);

  }
  

  .mobile, .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
  
  }



