* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  
  font-family: "League Spartan", serif !important ;
  
  
  font-style: normal;
}


body {
  overflow-x: hidden;
}



body
.Dine-home {
  background-image: url(./assets/images/homepage/hero-bg-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
}

h1 {
  font-weight: 300 !important;
}

.Dine-home p {
  font-weight: 300 !important;
}

.Travel-plates p {
  font-weight: 400 !important;
}

h2 {
  font-weight: 600 !important;

}

.Travel-plates h2 {
  color: #242B37;
}

 .tablet img , .desktop img {
  max-width: 100%;
  width: 50%;
}

.mobile img {
  width: 75%;
  box-shadow: -5px 44px 57px -26px rgba(0,0,0,0.47);
}

.mobile {
  display: block;
}

.tablet, .desktop {
  display: none
}


.line-image, .line-row {
  display: flex;
  justify-content: center;
  align-items: center;
}



.bubble {
  color: #B54949;
}

.line {
  margin-left: 1.2em;
  width: 55px;
  height: 1px;
  background-color: #B54949;
}

.line-row .bubble, .line-row .line  {
  color: #444444;
}

.line-row .line  {
  background-color: #444444;
}

.list-info h3 {
  font-weight: 700;
  margin: 1em 0 ;
}

.list-info p {
  padding: 0 2em;
}

hr {
  align-self: center;
  width: 75%;
  margin: 1em 0;
  opacity: .2;
}

.btn0, .btn1, .btn2 {
  position: relative;
  color: gainsboro !important;
}

.btn0.active, .btn1.active, .btn2.active {
  color: #000 !important;
}

.btn0.active::before, .btn1.active::before, .btn2.active::before {
  content: '';
  position: absolute;
  top: 2.5em;
  
  width: 25px;
  height: 1px;
  background-color: #B54949;
}

h4 {
  font-size: 2em !important;
  margin: .7em 0 !important;
  font-weight: 500 !important;
}


.Middle-Page {
  background-image: url(./assets/images/homepage/ready-bg-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

h5 {
  font-weight: 600 !important;
}

.slideArea-section-info button {
  font-weight:600;
}

.list-info  {
  position: relative;
  display: inline-block;
}



@media (min-width: 414px) {

body
.Dine-home {
  height: 75vh;
}

}


@media (min-width: 800px)  {
  
body
.Dine-home {
  background-image: url(./assets/images/homepage/hero-bg-tablet@2x.jpg);
  height: 984px;
  background-position: top 25% center;
  width: 100%;
 
}


.Travel-plates {

  background: url(./assets/images/patterns/pattern-curve-top-left.svg) ,  url(./assets/images/patterns/pattern-curve-top-left.svg) ;
  background-repeat: no-repeat, no-repeat;
  background-size: 90%, 90%;
  background-position: top 25% left -20em, bottom 2em right -15em;
  
}



hr {
  width: 100%;
}



.list-info::before {
  content: '';
  display: flex;
  position: absolute;
  top: 2em; 
  left: -7.6em;
  width: 75px;
  height: 2px;
  background-color: #444444;
}


picture div img  {
  width: 50% !important;
}

.list-info h3 {
  font-weight: 700;
  margin: 1em 0;
}

.list-info p {
   margin-left: -2em;
}

.Middle-Page {
  background-image: url(./assets/images/homepage/ready-bg-tablet@2x.jpg);
}

.btn0.active::before, .btn1.active::before, .btn2.active::before {
  content: '';
  position: absolute;
  top: 3em;
  width: 50px;
  height: 1px;
  background-color: #B54949;
}


}


@media (min-width: 900px) {

  body
.Dine-home {
  background-position: top 10% center;


  width: 100vw;
  height: 984px;
}

.list-info h3 {
  padding: 0 ;
  font-size: 1.3em;
}



.list-info p {
  font-size: 1.3em;
}



  }
  

@media (min-width: 1200px)  {
  
  body
  .Dine-home {
    background-image: url(./assets/images/homepage/hero-bg-desktop@2x.jpg);
    height: 100vh;
  }

  .desktop img {
    max-width: 100%;
    width: 70%;
  }

  .list-info::before {
    content: '';
    display: flex;
    position: absolute;
    top: 1em; 
    left: -3.9em;
    width: 25px;
    height: 2px;
    background-color: #444444;
  }

  

  
  

  h2 {
    line-height: 1em !important;
  }
  

  hr {
    align-self: center;
    width: 100%;
    margin: 1em 0;
  }

  .line-row {
    justify-content: flex-start;
  }

  .list-info h3 {
    font-weight: 700;
    margin: 0 0 1em 0 ;
  }
  
  .list-info p {
    padding: 0 ;
  }
  

  .mobile, .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }


  .slideArea-01 button, .slideArea-02 button, .slideArea-03 button {
    width: 200px;
  }
  

  .line-image {
    display: flex;
    justify-content: flex-start;
    margin-left: 4.5em;
  }


  .btn0, .btn1, .btn2 {
    position: relative;
  
    color: gainsboro !important;
  }

  picture div img  {
    width: 77% !important;
  }
  

  .btn0.active {
    left: -9.3em;
  }
  
  .btn1.active, .btn2.active {
    left: -8.9em;
  }


  .btn2.active {
    left: -8.8em;
  }

  .btn0.active::before, .btn1.active::before, .btn2.active::before {
    content: '';
    position: relative;
    top: 0;
    width: 80px;
    height: 1px;
    margin-right: 2em;
    background-color: #B54949;
  }
  

  h4 {
    font-size: 3em !important;
    margin: .5em 0 0 0 !important;
    font-weight: 500 !important;
  }


  .slideArea-section-info p {
    max-width: 500px;
  }

  .list-info h3 {
    padding: 0 ;
    font-size: 1.2em;
  }
  
  .list-info p {
    font-size: 1em;
    margin-left: .2em;
  }

  


}


@media (min-width: 1440px)  {
  .home-element {
    position: relative;
    top: 5em !important;
  }

  .home-element-1 {
   margin-top: 4em !important;
  }




  
  
}